.nusu{
    width:100%;
}
.header{
    display: flex;
}

.rogo{
    width: 100px;
    margin-left: 50px;
}


.header ul{
    display: flex;
    list-style:none;
}
.display li{
    float:left;
    margin-left: auto;
    text-align: center;
    display: flex;
    font-size: 24px;
}

.footer{
    text-align:center;
    line-height:100px;
    width:100%;
    height:100px;
    background-color:gray;
}